{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<form action="{{ url_for('time_in') }}" method="post">
    <div class="form-group">
        <p><b><input type="button" id="time_in_radio" name="clock" onclick="time_in_check()" value="Time in" checked></b></p>
        <p><b><input type="button" id="time_out_radio" name="clock" onclick="time_out_check()" value="Time out"><br></b></p>
        <p><input type="submit" id="btn_time_in" class="form-control" name="clk_btn" value="Time in" /></p>
        <p><input type="submit" id="btn_time_out" class="form-control" name="clk_btn" value="Time out" /></p>
    </div>
</form>
{% endblock %}

{% block scripts %}
<script>
 
    var time_in_hidden = false;
    var time_out_hidden = true;
    document.getElementById("btn_time_in").style.display = "block";
    document.getElementById("btn_time_out").style.display = "none";
    function time_in_check() {
        time_in_hidden = false;
        time_out_hidden = true;
        document.getElementById("btn_time_in").style.display = "block";
        document.getElementById("btn_time_out").style.display = "none";
    }

    function time_out_check() {
        time_in_hidden = true;
        time_out_hidden = false;
        document.getElementById("btn_time_in").style.display = "none";
        document.getElementById("btn_time_out").style.display = "block";
    }
</script>
{% endblock %}
